/* Hide project name text in Furo sidebar header */
.sidebar-brand-text {
    display: none !important;
  }

.sidebar-logo{
    display: inline;
}

.view-this-page{
    display: none !important;
}

div floating.container.bottom-right{
    display: none !important;
} 