/* Hide project name text in Furo sidebar header */
.sidebar-brand-text {
    display: none !important;
  }

.sidebar-logo{
    display: inline;
}

/* Hide view page icon on top right beside dark theme icon */
.view-this-page{
    display: none !important;
}

/* hiding git branch button on bottom right */
.floating.container.bottom-right,
div[class~="bottom-right"],
div[class*="bottom-right"] {
  display: none !important;
}

/* Hide Furo sidebar ad placement container */
#furo-sidebar-ad-placement {
    display: none !important;
  }