/* Hide project name text in Furo sidebar header */
.sidebar-brand-text {
    display: none !important;
  }

.sidebar-logo{
    display: inline;
}

/* Hide view page icon on top right beside dark theme icon */
.view-this-page{
    display: none !important;
}

.sidebar-search-container{
  display: none !important;
}

/* hiding git branch button on bottom right */

.container.bottom-right {
  display: none !important;
}

.floating.container.bottom-right,
div[class~="bottom-right"],
div[class*="bottom-right"] {
  display: none !important;
}

/* Hide Furo sidebar ad placement container */
#furo-sidebar-ad-placement {
    display: none !important;
  }

  .bordered-image {
    border: 1px solid #555;   /* border thickness and color */
    border-radius: 5px;       /* optional rounded corners */
  }

  .param-highlight {
    background-color: #f0f0ff;  /* Light purple/blue */
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
    font-size:16px;
    color: black;
  }

 
  .sidebar-drawer {
    width: auto; 
  }

  .content {
    width: 100% !important;
  }

